<h1>Ruby On Rails Face Detection Demo</h1>

<h3><a href="https://github.com/stevesohcot/rails-face-detect.git">View code source on GitHub</a></h3>

<%= form_tag("/face", method: "get") do %>
  <%= label_tag(:image_url, "Image URL") %>
  <%= text_field_tag(:image_url, @image_source, size: 100) %>
  <%= submit_tag("Detect") %>
<% end %>

<p>Sample pictures (click to pre-populate textbox above)</p>
<ul>
  <li><a hef="#" onClick="document.getElementById('image_url').value = 'http://www.edrants.com/wp-content/uploads/2013/03/googleglassimage.jpg';">person wearing google glass</a></li>
  <li><a hef="#" onClick="document.getElementById('image_url').value = 'http://www.atlantatrails.com/images/high-shoals-falls-waterfall/4-high-shoals-falls-trail-blue-hole-waterfall.jpg';">waterfall</a></li>
</ul>


<% if @image_source %>

  <hr />

  <br />Face detected: <%=@face_detected%>
  <br />Image URL: <%=@image_source%>
  <br /><%=image_tag(@image_source)%>

<% end %>