<div class="header-custom">Face Recognize : ใช่หรือเปล่า?</div>

<!--Chaeyon-->
<%= form_tag("/face", class: "image-detect", method: "get") do %>
  <%= label_tag(:image_url, "ขั้นที่ 1 ภาพทดสอบ") %>
  <%= text_field_tag(:image_url, @image_source, size: 100, class: "image-detect") %>
  <%= submit_tag("Detect") %>
<% end %>

<% if @image_source %>
  <div id="image_wrapper" class="image_wrapper">
    <%= image_tag(@image_source, id: 'img-source') %>
  </div>
  <%= form_tag("/face", class: "image-detect", method: "get") do %>
    <%= hidden_field_tag :image_url, @image_source %>
    <%= hidden_field_tag :coords_x, @headbuttx %>
    <%= hidden_field_tag :coords_y, @headbutty %>
    <%= submit_tag("Recognize") %>
  <% end %>
<% end %>

<% if @image_source && @headbuttx && @headbutty %>
  <div id="image_wrapper" class="image_wrapper">
    <%= image_tag(@image_source, id: 'img-source') %>
      <div class="paint_points">
        <% @face_shape.each do |position| %>
          <%= content_tag(:span, nil, class: "point-custom", style: "top: #{position['y']/100*@face_size['height']}px; left: #{position['x']/100*@face_size['width']}px;") %>
        <% end %>
      </div>
  </div>
  <%# @result.each do |line| %>
<!--    <%#= line %><br>-->
  <%# end %>
  <%= @result %>
<% end %>