<div class="header-custom">Face Recognize : ใช่หรือเปล่า?</div>

<ul>
  <li><a class="image-detect" href="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/46741309_529035407569454_2440737649829347328_n.jpg?_nc_cat=100&_nc_ht=scontent.fbkk2-8.fna&oh=a4e486ca9926157be8336a0339a3ee38&oe=5CA89102" onClick="window.open(this.href);document.getElementById('train_image_url_1').value = 'https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/46741309_529035407569454_2440737649829347328_n.jpg?_nc_cat=100&_nc_ht=scontent.fbkk2-8.fna&oh=a4e486ca9926157be8336a0339a3ee38&oe=5CA89102'; return false;">Chaeyeon</a></li>
  <li><a class="image-detect" href="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/47159356_2203974483186737_7576074314437361664_n.jpg?_nc_cat=102&_nc_ht=scontent.fbkk2-8.fna&oh=d51083ce800f68e2ebfd68045a9598fc&oe=5CB04664" onClick="window.open(this.href);document.getElementById('train_image_url_1').value = 'https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/47159356_2203974483186737_7576074314437361664_n.jpg?_nc_cat=102&_nc_ht=scontent.fbkk2-8.fna&oh=d51083ce800f68e2ebfd68045a9598fc&oe=5CB04664'; return false;">Minhyon</a></li>
  <li><a class="image-detect" href="https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/46704820_562548030855130_4844348416941096960_n.jpg?_nc_cat=105&_nc_ht=scontent.fbkk2-8.fna&oh=9a9736565b63245a03de6cace6974100&oe=5C66639E" onClick="window.open(this.href);document.getElementById('train_image_url_1').value = 'https://scontent.fbkk2-8.fna.fbcdn.net/v/t1.15752-9/46704820_562548030855130_4844348416941096960_n.jpg?_nc_cat=105&_nc_ht=scontent.fbkk2-8.fna&oh=9a9736565b63245a03de6cace6974100&oe=5C66639E'; return false;">JB</a></li>
</ul>

<!--Chaeyon-->
<%= form_tag("/face", class: "image-detect", method: "get") do %>
  <%= label_tag(:train_image_url_1, "ขั้นที่ 1 ใส่ภาพเทรน") %>
  <%= text_field_tag(:train_image_url_1, @train_image_source_1, size: 100, class: "image-detect") %><br>
  <%= label_tag(:image_url, "ขั้นที่ 2 ภาพทดสอบ") %>
  <%= text_field_tag(:image_url, @image_source, size: 100, class: "image-detect") %>
  <%= submit_tag("Detect") %>
<% end %>

<% if @image_source %>
  <hr />
  <div class="text-wrapper">
    <%= label_tag("Percent Match = #{@result}%", nil, class: 'result-text') %>
  </div>
  <div id="image_wrapper" class="image_wrapper">
    <%= image_tag(@image_source) %>
  </div>
<% end %>