<div class="header-custom">Face Recognize : ใช่หรือเปล่า?</div>

<%= form_tag("/face", class: "image-detect", method: "get") do %>
  <%= label_tag(:image_url, "Image URL") %>
  <%= text_field_tag(:image_url, @image_source, size: 100, class: "image-detect") %>
  <%= submit_tag("Detect") %>
<% end %>


<% if @image_source %>
  <hr />
  <div class="text-wrapper">
    <%= label_tag("Percent Match = #{@result}%", nil, class: 'result-text') %>
  </div>

  <div id="image_wrapper" class="image_wrapper">
    <%= image_tag(@image_source) %>
  </div>
<% end %>