<!DOCTYPE html>
<html>
  <head>
    <title>FaceDetect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script>
      $('#img-source').mousemove(function(event) {
          window.current_x = Math.round(event.pageX - $('#img-source').offset().left);
          window.current_y = Math.round(event.pageY - $('#img-source').offset().top);
          window.current_coords = '(' + window.current_x + ', ' + window.current_y + ')';
      }).click( function() {
          $('#coords_x').val(window.current_x);
          $('#coords_y').val(window.current_y);

          if($("#point").length){
             $('#point').remove();
          }

          $('#image_wrapper').append("<span></span>");
          $('span').attr("id", "point");
          $('span').addClass("point-custom");
          $('span').css({"top": window.current_y + "px", "left": window.current_x + "px"});
      });

      $(document).ready(function(){
          $(window).resize(function(){
              var img = document.getElementById('img-source');
              var width = img.width;
              var height = img.height;
          })
      })
  </script>
</html>
