<!DOCTYPE html>
<html>
  <head>
    <title>FaceDetect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
      $('#img-source').mousemove(function(event) {
          window.current_x = Math.round(event.pageX - $('#img-source').offset().left);
          window.current_y = Math.round(event.pageY - $('#img-source').offset().top);
          window.current_coords = '(' + window.current_x + ', ' + window.current_y + ')';
      }).click( function() {
          $('#coords_x').val(window.current_x);
          $('#coords_y').val(window.current_y);

          if($("#point").length){
             $('#point').remove();
          }

          $('#image_wrapper').append("<span></span>");
          $('span').attr("id", "point");
          $('span').addClass("point-custom");
          $('span').css({"top": window.current_y + "px", "left": window.current_x + "px"});
      });
  </script>
</html>
